@font-face {
  font-family: 'comfortaaRegular';
  src: url('Comfortaa-Regular.ttf');
  src: local('comfortaaRegular'), local('Comfortaa-Regular.ttf'),
    url('Comfortaa-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'comfortaaLight';
  src: url('Comfortaa-Light.ttf');
  src: local('comfortaaLight'), local('Comfortaa-Light.ttf'),
    url('Comfortaa-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'comfortaaBold';
  src: url('Comfortaa-Bold.ttf');
  src: local('comfortaaBold'), local('Comfortaa-Bold.ttf'),
    url('Comfortaa-Bold.ttf') format('truetype');
}

.modified-box {
  height: 100px;
}

.has-background-bluegray {
  background: #2d3542;
}

.has-background-deepblack {
  background: #000000 !important;
}

.has-background-graph {
  background: #282c30 !important;
}

.has-text-ppkgreen {
  color: #8ac403 !important;
}

.has-background-ppkgreen {
  background: #8ac403 !important;
}

.is-family-comfortaa-light {
  font-family: 'comfortaaLight';
}
.is-family-comfortaa {
  font-family: 'comfortaaRegular';
}
.is-family-comfortaa-bold {
  font-family: 'comfortaaBold';
}

.graph-min-height {
  min-height: 300px;
}

.fake-link {
  cursor: pointer;
}
.fake-link:hover{
  color:#8ac403;
}

.label{
  color:#FFFFFF !important;
}